@import "tailwindcss";

@theme {
  --color-primary: #000000;
  --color-secondary: #FF014F;
  --font-pacifico: var(--font-pacifico);
  --font-inter: var(--font-inter);
}

body {
  background-color: var(--color-primary);
  font-family: var(--font-inter);
  color: #fff;
}